.studio-img {
    position: relative;
}
.st-img,.wwd {
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 8px;
}
.tri {
    position: absolute;
    width:200px;
    height: 200px;
    top: -100px;
    right: -100px;
    z-index: -1;
}
.blue-dot2 {
    position: absolute;
    width: 300px;
    height: 100px;
    bottom: -50px;
    left: -100px;
    z-index: -1;
}
.red-star {
    position: absolute;
    bottom: 30px;
    left: -25px;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.circle {
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    z-index: -2;
}
.wwd {
    width: 100%;
}
.process {
    width: 50%;
    margin: auto;
    padding: 10vh 0;
    position: relative;
}
.process-flex {
    background-image: url(img/line2.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 33%;
    padding-bottom: 15vh;
    position: relative;
}
.timeline,.red-arr,.yel-arr,.blue-circle {
    position: absolute;
}
.timeline {
    width: 200px;
    height: 179px;
    top: 3%;
    left: 40%;
}
.blue-circle {
    width: 170px;
    height: 170px;
    bottom: 20%;
    left: 25%;
    opacity: 0.5;
}
.red-arr {
    width: 200px;
    height: 186px;
    top: 15%;
    left:10%;
}
.yel-arr {
    width: 200px;
    height: 210px;
    top: 60%;
    right: 10%;
}
.process-item {
    width: 50%;
    text-align: left;
    padding: 50px 20px;
}
.process-item p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(79, 79, 79);
    padding-left: 20px;
}
.process-item h3 {
    font-size: 36px;
    color: rgb(0, 161, 182);
    font-style: italic;
    display: flex;
    align-items: center;
    font-family: "Sentinel Light";
}
.process h2 {
    font-size: 56px;
    color: rgb(0, 4, 32);
}
.process-item h3 i {
    font-size: 1.5rem;
}
.process-item:last-child {
    padding-left: 50px;
}
.most  {
    text-align: center;
    padding: 10vh 0;
    position: relative;
}
.yel-dot {
    position: absolute;
    width: 500px;
    height: 161px;
    top: calc(-160px/2);
    right: 50px;
}
.yel-out {
    position: absolute;
    width: 200px;
    height: 194px;
    bottom: calc(-194px/2);
    left: 0;
}
.most h2,.get h2 {
    color: rgb(0, 4, 32);
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 8vh;
}
.most-box h3,.get-item h3 {
    font-size: 36px;
    color: rgb(0, 161, 182);
    font-style: italic;
    padding: 20px 0;
}
.most-box p,.get item p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(79, 79, 79);
}
.btn-most {
    font-size: 20px;
    border: 2px solid rgb(102, 102, 102);
    padding: 18px 30px;
    font-weight: bold;
    background-color: transparent;
}
.btn-most a {
    color: rgb(102, 102, 102);
}
a {
    cursor: pointer;
}
.most-box {
    width: 40%;
    margin: auto;
    text-align: left;
}
.most-box h3 {
    font-family: "Sentinel Light";
}
.most {
    background-color: rgb(246, 249, 252);
}
.most-box img {
    width: 100%;
}
.get {
    padding: 10vh 0;
    text-align: center;
}
.get-item {
    width: calc(100%/3);
    padding-left: 30px;
    text-align: left;
}
.get-item h3 {
    font-family: "Sentinel Light";
    color: rgb(0, 4, 32);
}
.get-box {
    width: 55%;
    margin: auto;
}
.btn-get {
    background-color: rgb(0, 161, 182);
    border-radius: 4px;
    border: none;
    margin-top: 50px;
}
.btn-get a {
    color: white;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    .menu-icon {
        width: 30% !important;
    }
    .banner-content,.wanna-box,.six ,.invol-flex,.better,.year-flex,.form2,.process,.most-box,.get-box {
        width: 90% !important;
    }
    .banner h3,.meet h2,.get h2 {
        font-size: 36px !important;
    }
    .banner h1 {
        font-size: 56px !important;
    }
    .banner-content-title {
        font-size: 20px !important;
        width: 100% !important;
    }
    .year-item h4,.pre h4,.pre-invol-item p,.pre-invol-item ul li,.meet p,.get-invol-item p,.get-invol-item-list ul li,.get-item p{
        font-size: 16px !important;
    }
    .year-item h2,.pre h2,.m-e-flex h2,.process h2 {
        font-size: 36px !important;
    }
    .process-flex {
        background-image: url(img/line3.svg);
        background-position:  0 0;
        justify-content: flex-end;
        background-size: 31%;
    }
    .get-item {
        padding: 0;
    }
    .btn-get {
        width: 90%;
        margin: 30px auto;
    }
    .yel-out {
        width: 100px;
        height: 100px;
        bottom: -50px;
    }
    .hidee {
        display: none;
    }
    .process-item {
        width: 80%;
    }
    .tri {
        right: 0;
    }
    .wanna-box h2,.pre h3 {
        font-size: 36px !important;
    }
    .form-email input,.form-email,.six h2,.teams-item,.year-item,.what-item,.m-e-item,.like-on-m-e-item,.our-poster-item,.btn-our,.get-invol-item,.get-item {
        width: 100% !important;
    }
    .get-invol-item {
        margin-top: 30px;
    }
    .like-on-m-e-item {
        margin-top: 30px;
    }
    .m-e-item h3,.process-item h3,.get-item h3 {
        font-size: 24px !important;
    }
    .lom-hide {
        display: block;
    }
    .lom-show {
        display: none;
    }
    .our-poster-item h2 {
        margin-top: 50px;
    }
    .name p {
        font-size: 16px !important;
        margin-top: 30px;
    }
    .get-invol-item h4 {
        font-size: 18px !important;
    }
    .btn-pre-show {
        width: 100%;
        margin-top: 30px;
    }
    .bot-info {
        width: 90% !important;
        flex-wrap: wrap;
    }
    .show {
        display: none;
    }
    .bot-menu-hide {
        display: block;
    }
    .bot-menu-hide ul li a {
        color: rgb(0, 4, 32);
        font-size: 20px;
        font-family: brix;
        font-weight: bold;
    }
    .bot-menu-hide ul li ul li {
        padding-left: 20px;
    }
    .bot-menu-hide ul li ul li a {
        font-size: 16px;
        color: rgb(0, 4, 32);
    }
    .bot-title,.bot-menu,.our-team,.apply {
        display: none;
    }
    .what-pro-img2 {
        bottom: 0;
        right: 0;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .menu-icon {
        width: 15% !important;
    }
    .banner-content,.banner,.what-pro,.wanna-box,.bot-info,.six,.invol-flex,.better,.form2,.process,.most-box,.get-box {
        width: 90% !important;
    }
    .pod-img2 {
        right: -10px;
    }
    .form-email {
        width: 80% !important;
    }
    .bot-menu-hide {
        display: none !important;
    }
    .year-flex {
        width: 90%;
        margin: auto;
    }
    .pre-item img {
        display: none;
    }
    .pre-item p {
        width: 100%;
    }
    .btn-our {
        width: 50% !important;
    }
    .btn-most {
        margin-top: 30px;
    }
}